:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-green: #A8E3C5;
    --color-green-title: #577979;
    --color-dark-green: #5C7C7B;
    --color-light-green: rgba(192, 228, 220, 0.50);
    --color-light-pink: rgba(255, 234, 233, 0.60);
    --color-light-violet: rgba(235, 229, 243, 0.60);
    --color-violet: #EBE5F3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--color-dark-green);
    font-size: clamp(16px, 1.042vw, 20px);
    font-weight: 400;
    background-color: var(--color-white);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.hidden {
    overflow: hidden;
}

header,
footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

.container {
    margin: auto;
    max-width: 1400px;
    padding: 0 30px;
}

h6,
h5,
h4,
h3,
h2,
h1,
.h6,
.h5,
.h4,
.h3,
.h2,
.h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--color-green-title);
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: clamp(32px, 2.604vw, 50px);
    font-weight: 700;
}

h2,
.h2 {
    font-size: clamp(24px, 1.667vw, 32px);
    margin-bottom: clamp(30px, 4.167vw, 80px);
}

/* Заголовок с паззлом */
.title-decorative {
    position: relative;
    z-index: 2;
}

.title-decorative::before {
    content: '';
    position: absolute;
    top: 20%;
    left: -30px;
    transform: translateY(-50%);
    display: inline-block;
    width: clamp(71px, 7.344vw, 141px);
    height: clamp(71px, 7.344vw, 141px);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
}

/* Секция с заголовком-паззлом */
.section-common {
    padding-top: clamp(70px, 5.208vw, 100px);
    padding-bottom: clamp(30px, 3.906vw, 75px);
}

/* Секции Toys, Description, Price*/
.section-special {
    padding-top: clamp(50px, 3.906vw, 75px);
    padding-bottom: clamp(50px, 3.906vw, 75px);
}

h3,
.h3 {
    font-size: clamp(20px, 1.25vw, 24px);
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-tr-none {
    text-transform: none;
}

.text-wrap {
    white-space: normal !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-primary {
    color: var(--color-dark-green) !important;
}

.text-white {
    color: var(--color-white) !important;
}

.text-black {
    color: var(--color-black) !important;
}

.text-del {
    text-decoration: line-through;
}

.fw-bold {
    font-weight: 600;
}

.fw-semibold {
    font-weight: 500;
}

.fw-normal {
    font-weight: normal;
}

.fs-italic {
    font-style: italic;
}

.text-right {
    text-align: right;
}

p {
    margin: 0;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

img,
svg {
    vertical-align: middle;
    object-fit: contain;
    max-width: 100%;
}

label {
    display: inline-block;
    line-height: 1;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

iframe {
    border: 0;
}

/* COLORS */
.bg-white {
    background: #fff;
    color: #000;
}

.bg-green {
    background: #A8E3C5;
}

.bg-green-light {
    background: rgba(223, 241, 237, 0.60);
}

.bg-violet {
    background: #EBE5F3;
}

.bg-violet-light {
    background: rgba(235, 229, 243, 0.60);
}

.bg-pink {
    background: rgba(255, 234, 233, 0.60);
}

.bg-none {
    background: none;
}

.rounded-20 {
    border-radius: 20px;
}

/* BTN */
.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 22px;
    line-height: 121.796%;
    letter-spacing: 2.64px;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
    cursor: pointer;
    background-color: #8fd7b2;
}


/* Header */
/* Бургер меню */
.header__burger { 
    display: none; 
} 

.header { 
    padding: 20px 0; 
} 

.header__wrapper { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 

.header__logo img { 
    width: clamp(40px, 8vw, 100px); 
    height: auto; 
    min-width: 40px; 
} 

.header__nav { 
    display: flex; 
} 

.header__nav-list { 
    display: flex; 
    gap: 24px; 
} 

.nav-list__item { 
    transition: transform 0.2s ease-in-out; 
    font-size: clamp(11px, 1.45vw, 20px); 
} 

.nav-list__item:hover { 
    transform: scale(1.1); 
} 

.header__icons { 
    display: flex; 
    gap: 5px; 
    align-items: center; 
} 

.header__icons a { 
    width: auto; 
    display: inline-flex; 
} 

.header__icons img { 
    width: clamp(40px, 7.4vw, 80px); 
    height: auto; 
}

/* Section Hero */
.hero {
    width: 100%;
    padding: 95px 0 45px 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    position: relative;
    z-index: 2;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 3.5vw;
    max-width: 100%;
    width: 78vw;
    z-index: 3;
    position: relative;
    left: clamp(20px, 3.5vw, 70px);
}

.hero__textBlock { 
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.7vw;
    width: 100%;
}

.hero__textBlock p {
    max-width: 100%;
    width: 642px;
    align-self: center;
}

.hero__imgBlock { 
    position: relative;
    z-index: 2;
    left: clamp(20px, 3.5vw, 70px);
    width: 100%;
    margin-left: -10%;
    animation: float 4s ease-in-out infinite;
}

.hero__imgBlock img {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}

.hero__textBlock p { 
    font-size: clamp(20px, 1.4vw, 28px);
}

.hero__button { 
    text-align: center;
    align-self: center;
    max-width: 561px;
    padding: 35px;
}

/* Анимация плавания */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

/* Section About */
.about-title::before {
    background-image: url('../assets/images/puzzle-blue.png');
}

.about-paragraph {
    font-size: clamp(20px, 1.25vw, 24px);
    ;
}

.about-content {
    display: flex;
    gap: clamp(20px, 2.601vw, 50px);
}

.about-tick {
    width: clamp(12px, 1.25vw, 24px);
    aspect-ratio: 1 / 1;
}

.about-texts,
.about-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-images {
    width: 40%;
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.about-item__wrapper {
    display: flex;
    align-items: start;
    gap: 8px;
}


/* Section Toys */


/* Section Services */
.services__title::before {
    background-image: url('../assets/images/puzzle-violet.png');
}

.services-block__top {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.services-block__arrows {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.services-block__arrow {
    width: 80px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.services-block__bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.services-block__card {
    max-width: 500px;
    width: 100%;
    height: 176px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descr .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.descr__img-wrapper {
    position: relative;
    width: clamp(210px, 21.354vw, 410px);
    flex-shrink: 0;
    aspect-ratio: 2/3;
}

.descr__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descr__img-text {
    position: absolute;
    top: -20%;
    right: -70%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 19.375vw, 372px);
    height: clamp(130px, 11.042vw, 212px);
    flex-shrink: 0;
    border-radius: 50%;
}

.descr__img-text:after {
    content: "";
    background: url(../assets/icons/triangle.svg) center / cover no-repeat;
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 40px;
    height: 36px;
    flex-shrink: 0;
}

.descr__card {
    padding: 40px;
    max-width: 852px;
}

.price__title {
    display: block;
}

.price__item {
    padding: 40px;
    display: flex;
    align-items: center;
}

.price__item:nth-child(even) {
    background-color: var(--color-light-green);
}

.price__item p {
    width: calc(100% / 3);
}

@media(max-width: 1200px) {
    .descr__img-text {
        top: -40%;
        right: -80%;
    }
}

@media(max-width: 768px) {
    .services-block .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .services__title {
        align-self: center;
    }

    .services-block__top,
    .services-block__bottom {
        gap: 30px;
        flex-direction: column;
    }

    .services-block__arrows {
        display: none;
    }

    .services-block__card {
        max-width: 100%;
        height: 130px;
    }

    .descr .container {
        flex-direction: column;
    }

    .descr__img-text {
        padding: 20px;
    }

    .descr__img-text:after {
        width: 30px;
        height: 30px;
    }

    .descr__card {
        padding: 40px 20px;
    }

    .price__item {
        padding: 20px;
    }
}

@media(max-width: 575px) {

    .container {
        padding: 0 10px;
    }

    .services-block__card {
        padding: 0 20px;
    }

    .descr__card {
        padding: 20px 10px;
    }

    .descr__img-text {
        right: -20%;
    }

    .price__item {
        text-transform: initial;
        padding: 10px;
        gap: 5px;
    }

    .price__item p {
        font-size: 14px;
    }

    .first-p {
        width: 50% !important;
    }
}

/* Section Reviews */



/* Section Game */

.game-title::before {
    background-image: url('../assets/images/puzzle-pink-2.png');
}

.reading-game-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: clamp(10px, 3vw, 40px);
}

.reading-game-content {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dino-container {
    position: relative;
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;
}

.game-photo1 {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    z-index: 2;
}

.dino-animation {
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: translateX(0%) translateY(40%);
    transition: transform 0.8s ease, opacity 0.8s ease, z-index 0s 0.8s;
    width: clamp(200px, 28vw, 280px);
    z-index: 1;
}

.dino-animation.visible {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
    z-index: 2;
    transition: transform 0.8s ease, opacity 0.8s ease, z-index 0s 0s;
    transition-delay: 1s;
}

.reading-game-visual {
    flex: 1 1 45%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-game {
    max-width: 400px;
    width: 100%;
    padding: clamp(12px, 2vw, 20px) clamp(16px, 4vw, 32px);
}

/* Section Form */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 30px;
    max-width: 700px;
    width: 90%;
    border-radius: 8px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.5;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.modal-content h3 {
    font-size: 16px;
    margin: 20px 0 10px;
}

.modal-content p {
    margin-bottom: 12px;
}

.modal-content ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.modal-content ul li {
    margin-bottom: 6px;
}

.modal,
.modal-content {
    transition: all 0.3s ease;
}

.form-wrapper {
    position: relative;
    margin-top: 100px;
    padding: 40px 60px;
    border-radius: 20px;
    border: 11px solid #DFF1ED;
}

.form-text {
    width: 69%;
}

.form-title {
    width: 100%;
    line-height: 2.08;
    text-align: center;
    margin-bottom: 50px;
    text-transform: none;
}

.form-subtext {
    width: 100%;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 50px;
}

.form-image {
    position: absolute;
    top: -13%;
    right: 5%;
    max-width: 250px;
}

.form-image img {
    width: 100%;
    height: auto;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 24px;
    grid-template-areas:
        "nameinput message"
        "ageinput message"
        "phoneinput formbutton";
    margin-bottom: 50px;
}

.name-input {
    grid-area: nameinput;
}

.message {
    grid-area: message;
}

.age-input {
    grid-area: ageinput;
}

.phone-input {
    grid-area: phoneinput;
}

.form-button {
    grid-area: formbutton;
}

.form-content input,
.form-content textarea {
    background-color: #E6F4F1;
    border: none;
    border-radius: 8px;
}

.form-content input,
.form-content textarea {
    padding: 32px 20px;
}

.form-content input:focus,
.form-content textarea:focus {
    outline: 2px solid var(--color-green);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background-color: #F6C351;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.checkbox input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox a {
    color: #E5097F;
    text-decoration: underline;
}

.checkbox label {
    font-size: 14px;
}

.form-button {
    background-color: var(--color-green);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

/* Section Contacts */
.contacts__title::before {
    background-image: url(../assets/images/puzzle-violet-2.png);
}

.contacts__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__label {
    font-size: clamp(20px, 1.25vw, 24px);
}

.contacts__link {
    font-size: clamp(16px, 1.6vw, 20px);
}

.contacts__link:hover {
    color: var(--color-black);
}

.contacts__map {
    width: clamp(387px, 55.2vw, 900px);
    height: clamp(387px, 41.3vw, 734px);
}

.contacts__map iframe {
    width: 100%;
    height: 100%;
}

    /* Footer */
    .footer {
        padding: 20px 0;
    }

    .footer__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo img {
        width: clamp(60px, 9vw, 100px);
        height: auto;
        min-width: 60px;
    }

    .footer__nav-list {
        display: flex;
        gap: 24px;
    }

    .footer__icons--mobile {
        display: none;
    }

    .footer__arrow {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .footer__arrow:hover {
        transform: scale(1.1);
    }

    .footer__arrow img {
        width: clamp(60px, 9vw, 100px);
        height: auto;
        min-width: 60px;
    }

@media(max-width: 1580px) {

    /* Section Hero */
.hero__imgBlock { 
    left: 0;/**/
}
}

@media (max-width: 1440px) {

    /* Section About */
    .about-text {
        gap: 20px;
    }

    /* Section Hero */
     .hero__left {
        left: 0;
        width: 51%;
    }

    .hero__textBlock h1 {
        font-size: 2.8vw;
    }

    .hero__button {
        font-size: 20px;
    }
}

@media (max-width: 1141px) {

    /* Section Hero */
    .hero__button {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    /* Header */ 
    .header__burger { 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        gap: 6px; 
        position: relative; 
        z-index: 10; 
        width: 39px; 
        height: 39px; 
        background: none; 
        border: none; 
        padding: 0; 
    }

    /* Общие стили для всех полос */ 
    .header__burger span { 
        position: absolute; 
        left: 5px; 
        right: 5px; 
        height: 2px; 
        border-radius: 2px; 
        background-color: var(--color-green-title); 
        transition: transform 0.3s ease, opacity 0.3s ease; 
    } 

    /* Верняя линия */ 
    .header__burger span:nth-child(1) { 
        top: 12px; 
    } 

    /* Средняя линия */ 
    .header__burger span:nth-child(2) { 
        top: 19px; 
    } 

    /* Нижняя линия */ 
    .header__burger span:nth-child(3) { 
        top: 26px; 
    } 

    /* Открытое состояние */ 
    .header__burger.open span:nth-child(1) { 
        transform: rotate(45deg); 
        top: 19px;
        width: 39px; 
    } 

    .header__burger.open span:nth-child(2) { 
        opacity: 0; 
    } 

    .header__burger.open span:nth-child(3) { 
        transform: rotate(-45deg); 
        top: 19px; 
        width: 39px; 
    } 

    .header__nav-list { 
        display: none;
        width: 100%;
        background: rgba(168, 227, 197, 0.7);
        padding: 32px 0;
        position: relative;
        z-index: 5;
        transition: max-height 0.4s ease, padding 0.3s ease;

        flex-direction: column; 
        align-items: center; 
        padding: 32px 0;
        /*max-height: 0; 
        overflow: hidden; 
        position: fixed; 
        top: 121px; 
        left: 0; 
        width: 100%; 
        background: rgba(168, 227, 197, 0.7); 
        flex-direction: column; 
        align-items: center; 
        padding: 32px 0; 
        gap: 8px; 
        z-index: 999; 
        transition: max-height 0.4s ease, padding 0.3s ease; */ 
    } 
    
    .header__nav-list.open { 
        display: flex; 
        max-height: 500px; 
    } 
    
    .header__menu-open { 
        opacity: 1; 
        visibility: visible; 
    } 
    
    .header__nav-list a { 
        color: var(--color-green-title); 
    } 
    
    .header__icons { 
        justify-content: center; 
        margin-left: auto; 
        margin-right: auto; 
        flex: 0 0 auto; 
    } 

    /* Section Hero */
    .hero {
        padding: 60px 0 0 0;
    }

    .hero__wrapper {
        flex-direction: column;
        
    }

    .hero__left {
        max-width: 100%;
        align-items: center;
        display: contents; 
    }

    .hero__textBlock {
        order: 1;
        gap: 30px;
    }

    .hero__textBlock h1 {
        font-size: 5vw;
    }

    .hero__textBlock p {
        font-size: 4vw;
        width: 100%;
    }

    .hero__imgBlock {
        order: 2; 
        width: 85%;
        margin: 0 auto;
    }

    .hero__button {
        order: 3; 
        margin: 30px auto 0;
        font-size: 20px;
    }

    /* Section About */
    .about-content {
        flex-wrap: wrap;
    }

    .about-images {
        width: 100%;
        flex-direction: row;
    }

    /* Section Form */
    .form-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
        grid-template-areas:
            "nameinput"
            "ageinput"
            "phoneinput"
            "message"
            "formbutton";
        margin-bottom: 50px;
    }

    .form-button {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .form-text {
        width: 100%;
        margin-top: 100px;
    }

    .form-image {
        left: 50%;
        transform: translateX(-50%);
    }

    .form-title {
        margin-bottom: 20px;
    }

    .checkbox label {
        display: block;
        white-space: normal;
    }

    .checkbox label a {
        display: inline;
        white-space: normal;
        word-break: break-word;
    }
    }

@media (max-width: 768px) {
    .btn {
        font-size: 20px;
    }

    /* Section About */
    .about-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-title {
        align-self: center;
    }

    .about-paragraph {
        text-align: center;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "image1"
            "text1"
            "text2"
            "image2"
            "text3"
            "image3";

    }

    .about-texts,
    .about-images {
        display: contents;
    }

    .text-1 {
        grid-area: text1;
    }

    .text-2 {
        grid-area: text2;
    }

    .text-3 {
        grid-area: text3;
    }

    .image-1 {
        grid-area: image1;
    }

    .image-2 {
        grid-area: image2;
    }

    .image-3 {
        grid-area: image3;
    }

    .about-subtitle {
        text-align: center;
    }

    /* Section Game */
    .reading-game-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reading-game-wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .reading-game-content,
    .reading-game-visual {
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .reading-game-content {
        order: 2;
        padding: 0 5vw;
        text-align: left;
    }

    .reading-game-visual {
        order: 1;
        justify-content: center;
        margin: 90px 0 10px;
    }

    .game-title {
        text-align: center;
    }

    .dino-container {
        max-width: 100%;
        width: 100%;
        /* margin: 0 5%; */
        position: relative;
    }

    .dino-animation {
        width: clamp(180px, 28vw, 260px);
    }
    .btn-wrapper {
        order: 3;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    /* Section Toys */

    /* Section Contacts */
    .contacts__wrapper {
        display: flex;
        flex-direction: column;
    }

    .contacts__title {
        align-self: center;
    }

    .contacts__content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .contacts__map {
        width: 100%;
        height: clamp(302px, 62.3vw, 387px);
    }

    /* Footer */
    .footer__nav {
    display: none;
    }

    .footer__icons--mobile {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    }

    .footer__icons--mobile img {
    width: 60px;
    height: auto;
}
}


@media (max-width: 575px) {

    /* Section Hero */
        .hero {
        padding: 30px 0 0 0;
    }

    .hero__textBlock {
        gap: 15px;
    }

    .hero__textBlock h1 {
        font-size: 5vw;
    }

    .hero__textBlock p {
        font-size: 4vw;
    }

    .hero__button {
        font-size: 3vw;
    }

    .title-decorative:before {
        left: -18px;
    }
    /* Section Form */
    .form-title {
        line-height: 1.5;
    }

    .form-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-content input,
    .form-content textarea {
        padding: 32px 10px;
    }

    .form-text {
        margin-top: 20%;
    }

    .form-image {
        top: -10%;
    }

    /* Section Contacts */
    .contacts__link {
        font-size: 14px;
    }

    /* Footer */
    .footer {
    padding: 10px 0;
    }

    .footer__container {
    padding: 0 10px;
    }

    .footer__logo img {
    min-width: 40px;
    }

    .footer__icons--mobile {
    gap: 10px;
    }

    .footer__icons--mobile img {
    width: 40px;
    }

    .footer__arrow img {
    min-width: 40px;
    .contacts__label {
        font-size: 18px;
    }
}
}

@media (max-width: 420px) {

    /* Section Hero */
    .hero__button {
        font-size: 2.7vw;
    }

    /* Section Form */
    .form-image {
        top: -5%;
    }

    .form-text {
        margin-top: 25%;
    }
}

